/********************************** 
* Design by:  [Arav Patel]
* Design name:  [indian colors]
]
* 
* License: [license name - e.g. MIT if you want to let others
* use the design with attribution, or All Rights Reserved if you
* don't want others to use the design]
* 
* Acknowledgments/Sources:
* - 
* - 
* -
*/
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Alegreya+Sans:wght@900&family=Amita:wght@400;700&family=Bokor&family=Dancing+Script:wght@400..700&family=Eagle+Lake&family=Ga+Maamli&family=Great+Vibes&family=Herr+Von+Muellerhoff&family=Kurale&family=Merienda:wght@300..900&family=Ponnala&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.iacs {
  color: red;
}
.page-wrapper{
  background: rgb(255, 169, 0);
  background: radial-gradient(
    circle,
    rgba(255, 169, 0, 1) 0%,
    rgba(252, 70, 70, 1) 100%);
  width: 1000px;
margin: auto;
}
h1 {
  text-decoration-color: red;
  align-items: center;
  margin: auto;
  color: red;
  border: 5px solid orange;
  text-shadow: 4px 4px 1px orange;
  font-size: 70px;
  font-family: "Merienda", cursive;
 border-bottom-left-radius:100px;
 border-top-right-radius:100px ;
 width:900px ;
 text-align: center;
 padding-bottom: 5px;
}
body {
  font-family: "Akaya Kanadaka", serif;
  line-height: 1.6;
  font-size: 15px;
  text-shadow: 2px 1px 1px orange;
  color: red;
  margin: auto;
  background-image: url(background.jpg); 
}
.page-wrapper {
  margin-right: 300px;
}
aside {
  position: fixed;
  width: 284px;
  right: 8px;
  top: 8px;
  max-height: 100vh;
  overflow-y: auto;
}
h3{
  font-family: "Eagle Lake", serif;
}
h2{
  font-family: "Eagle Lake", serif;   
}
h4{ font-family: "Eagle Lake", serif;
}
a{
  color:red;
}

/* Demo from Hinkle */
.page-wrapper {
  max-width: calc(100vw - 320px); /* Set a width */
  margin-inline: auto; /* left and right margins are magic! */
}

/* But, fix small screen */
@media (max-width: 1100px) { /* Fix amount depending on where you want this to change... */
  .page-wrapper {
    margin-left: 8px;
    margin-right: auto;
  }
}